################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################


################################################################################
# FILES to ignore
################################################################################
*~
**/.DS_Store
**/*.sw[mnop]

################################################################################
# DIRECTORIES to ignore
################################################################################
**/[Tt]mp/*
**/[Bb]in/*
local/

# docs
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
